---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact">

<h1 class="text-3xl font-bold mb-6">
Contact
</h1>

<p>Email: <a href="mailto:roderickmonk@gmail.com" class="text-blue-700 hover:underline">roderickmonk@gmail.com</a></p>

</Layout>