---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Resources">

<h1 class="text-3xl font-bold mb-6">
Resources
</h1>

<ul class="space-y-2">

<li>Worksheets</li>
<li>Problem solving tasks</li>
<li>Python exercises</li>
<li>Spreadsheet activities</li>

</ul>

</Layout>