---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Teaching">

<div class="rounded-2xl border border-slate-200 bg-white p-8 shadow-sm">

<h1 class="text-3xl font-bold mb-6">
Teaching
</h1>

<ul class="list-disc pl-6 space-y-2">

<li>Math 8</li>
<li>Math 9</li>
<li>Workplace Math</li>
<li>Foundations of Mathematics</li>
<li>Computer Studies</li>

</ul>

</div>

</Layout>
