<nav class="flex gap-6 text-sm">
    <a href="/" class="hover:text-blue-700"> Home </a>

    <a href="/teaching" class="hover:text-blue-700"> Teaching </a>

    <a href="/resources" class="hover:text-blue-700"> Resources </a>

    <a href="/technology" class="hover:text-blue-700"> Technology </a>

    <a href="/about" class="hover:text-blue-700"> About </a>

    <a href="/contact" class="hover:text-blue-700"> Contact </a>
</nav>
